<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Outbound</key>
	<dict>
		<key>PrivateKey</key>
		<string>value</string>
	</dict>
	<key>Facebook</key>
	<dict>
		<key>AppID</key>
		<string>value</string>
	</dict>
	<key>GoogleUsageTracker</key>
	<dict>
		<key>ConversionID</key>
		<string>value</string>
		<key>ConversionLabel</key>
		<string>value</string>
	</dict>
	<key>GoogleAnalytics</key>
	<dict>
		<key>TrackerName</key>
		<string>value</string>
		<key>TrackingID</key>
		<string>value</string>
	</dict>
	<key>Parse</key>
	<dict>
		<key>ClientKey</key>
		<string>value</string>
		<key>ApplicationID</key>
		<string>value</string>
		<key>Server</key>
		<string>value</string>
	</dict>
</dict>
</plist>
